  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <i class="fas fa-plane-departure"></i> 
    <img src= "">
    <a href="/journals"> <%- title === 'All Journals' ? 'class="active"' : '' %>>ALL JOURNALS</a>
    <% if (user) { %>
      <a href="/texts/new"	<%- title === 'Add Text' ? 'class="active"' : '' %>>
        ADD TEXT</a>
        <a href="/journals/new" <%- title === 'Add Journal' ? 'class="active"' : '' %>>ADD JOURNAL</a>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
